@import './normalize.scss';
@import './comonents.scss';

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  max-width: 425px;
  height: 100%;
  margin: 0 auto;
  font-size: 14px;
}

.container {
  width: 100%;
  height: 100%;
}

.van-radio {
  width: 46%;
  box-sizing: border-box;
}

.van-radio__icon .van-icon {
  width: 1em !important;
  height: 1em !important;
  line-height: 1 !important;
}

.van-search {
  padding: 0 !important;
}

.van-tabs--line .van-tabs__wrap {
  height: 0.48rem !important;
  margin-bottom: 0.2rem;
}

.van-tab {
  height: 0.4rem;
  line-height: 0.4rem;
}
.van-tabs__line {
  bottom: 0;
  display: none;
}
